h1 {
  text-align: center;
}

button {
  margin-top: 25px;
  text-align: center;
}

.row {
  text-align: center;
}

p {
  color: black;
}

footer {
  background-color: black;
  opacity: .5;
  bottom: 0;
  padding: 10px;
}

footer p {
  text-align: center;
  color: white;
}

img {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
