<div id="kairi">
  <img src="http://pre00.deviantart.net/3723/th/pre/i/2015/110/f/a/kairi_by_krystal_lily_potter-d6izu56.png">
  <p>Kairi is one of several original characters appearing in Kingdom Hearts, and is also one of the main characters in the series. She is the original persona of Naminé. Kairi was born in Radiant Garden and currently lives on Destiny Islands along with her two best friends, Sora and Riku.

She is four years old during Kingdom Hearts Birth by Sleep, fourteen at the start of Kingdom Hearts, fifteen during Kingdom Hearts II and the events of Kingdom Hearts 3D: Dream Drop Distance. Kairi's name is derived from the Japanese word for "sea" (海 Kai?), though her full name is homophonous with the word for "nautical mile" (海里 Kairi?).</p>
</div>
