<div id="sora">
  <div class="container">
    <div class="row">
      <col-md-6>
      <img src="https://www.khwiki.com/images/thumb/f/f7/Sora_%28KHIIFM%29_KHIIHD.png/250px-Sora_%28KHIIFM%29_KHIIHD.png" alt="">
    </col-md-6>
      <col-md-6>
        <p>Sora is the main protagonist of the Kingdom Hearts series. He lives on the Destiny Islands with his best friends Riku and Kairi, and all three of them dream of venturing from Destiny Islands to find out what lies beyond. His home was consumed by darkness, sending him on a journey to many worlds across the Realm of Light. An upbeat youth, he travels with his new friends Goofy and Donald Duck in search of his missing friends, and uses his newly acquired weapon, the Keyblade, to put an end to the threats that destroyed his world.
Sora is four years old during the events of Kingdom Hearts Birth by Sleep, fourteen during Kingdom Hearts through Kingdom Hearts 358/2 Days, fifteen during the events of Kingdom Hearts II, and sixteen during the events of Kingdom Hearts 3D: Dream Drop Distance.
Sora is the original persona of his own Heartless and Roxas, the source of Xion's memories, and the bearer of Ventus's heart.</p>
      </col-md-6>
    </div>
  </div>

</div>
